body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
    margin-top: 20px;
}


/* ==========================================================================
   index.html
   ========================================================================== */

tbody tr:hover {
    background-color: #F8F9FA;
}

.analyze-button-container {
    margin: 20px 40% 40px;
}

.anchor-table{
    color: black !important;
}

/* ==========================================================================
   project.html & anti-pattern.html
   ========================================================================== */

.card {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

/* ==========================================================================
   anti-pattern.html
   ========================================================================== */

.custom-button{
    width: 160px !important;
}

.text-editor-header{
    padding: 5px;
    background-color: rgba(0,0,0,.03);
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: rgba(0,0,0,.125);

}

.text-editor-header .rt{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px !important;
}

.edit-button{
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 13px !important;
    padding: 3px 3px 3px 7px !important;
}

.main-content{
    margin-bottom: 15px;
}

.content{
    min-height: 150px;
    padding: 20px;
}

.operationalization-detail{
    margin-bottom: 20px;
}

#save-button{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.header-button{
    font-size: 1em;
}

#content-area h1{
    font-size: 1.6em;
}

#content-area h2{
    font-size: 1.4em;
}

#content-area h3{
    font-size: 1.2em;
}

/* ==========================================================================
   result.html
   ========================================================================== */

.not-found-bg {
    background-color: #D4EDDA;
}

.found-bg {
    background-color: #F8D7DA;
}

.icon-style {
    border-radius: 30px;
}

input, button, submit {
    border: none;
}

/* ==========================================================================
   configuration.html
   ========================================================================== */

#wrapper {
    width: 800px;
    overflow: hidden;
}

#first {
    width: 500px;
    float: left;
}

#second {
    overflow: hidden;
}

#configuration-select-row{
    width: 50%;
    margin: 40px auto;
}

.save-configuration-button-container {
    margin: 40px auto;
}

.ap-configuration-header{
    color: black !important;
}

/* ==========================================================================
   login.html
   ========================================================================== */

#login-form{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

/* ==========================================================================
   navbar.html
   ========================================================================== */

#current-configuration-box{
    margin-right: 1em;
}

.err-div {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.err-text {
    text-align: center;
    font-weight: 500;
}

/* ==========================================================================
   footer.html
   ========================================================================== */

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 150px;
    background-color: rgba(224, 224, 224, 0.267);
}

.footer-table {
    width: 80%;
    margin: 0 auto;
}

/* ==========================================================================
   main-page.html
   ========================================================================== */

.custom-img {
    width: 100%;
    height: 400px;
}

.custom-logo-img {
    width: 50%;
    height: 40px !important;
}

.custom-text {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.custom-text-rightAlign {
    text-align: right;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.custom-text-centerAlign {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#about-div {
    width: 100%;
    min-height: 400px;
}

.section {
    width: 100%;
    min-height: 400px;
    background-color: rgba(224, 224, 224, 0.267);
    box-shadow:rgba(224, 224, 224, 0.267) 10px 10px 10px;
    margin-bottom: 3em;
}

.collapsible .content {
    padding: 6px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
}
.collapsible .header {
    background-color: rgb(200, 200, 200);
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(220, 220, 220);
}
.collapsible .header .title {
    font-weight: bold;
}
